<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <!-- 다코어 환경에서 서버 GC 사용: Throughput 개선 -->
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />

    <!-- 어플리케이션 시작속도 약간 개선 (ClickOnce 안 쓰면) -->
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
